version: "3.9"

services:

  # ======================
  # Kafka KRaft (broker 0)
  # ======================
  kafka-kraft:
    image: bitnamilegacy/kafka:3.4
    container_name: kafka-kraft
    ports:
      - "9094:9094" # внешние порты
    environment:
      KAFKA_ENABLE_KRAFT: "yes"
      ALLOW_PLAINTEXT_LISTENER: "yes"

      KAFKA_CFG_NODE_ID: 0
      KAFKA_CFG_PROCESS_ROLES: broker,controller
      KAFKA_CFG_CONTROLLER_LISTENER_NAMES: CONTROLLER

      # Кворум брокеров
      KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: 0@kafka-kraft:9093,1@kafka-kraft-2:9094

      KAFKA_KRAFT_CLUSTER_ID: q1Sh-9_ISia_zwGINzRvyQ

      # Внутренние порты брокера
      KAFKA_CFG_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093,EXTERNAL://:9094
      KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://kafka-kraft:9092,EXTERNAL://localhost:9094
      KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT

    volumes:
      - kafka_kraft_0_data:/bitnami/kafka


  # ======================
  # Kafka KRaft (broker 1)
  # ======================
  kafka-kraft-2:
    image: bitnamilegacy/kafka:3.4
    container_name: kafka-kraft-2
    ports:
      - "9095:9095"
    environment:
      KAFKA_ENABLE_KRAFT: "yes"
      ALLOW_PLAINTEXT_LISTENER: "yes"

      KAFKA_CFG_NODE_ID: 1
      KAFKA_CFG_PROCESS_ROLES: broker,controller
      KAFKA_CFG_CONTROLLER_LISTENER_NAMES: CONTROLLER

      # Кворум брокеров
      KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: 0@kafka-kraft:9093,1@kafka-kraft-2:9094

      KAFKA_KRAFT_CLUSTER_ID: q1Sh-9_ISia_zwGINzRvyQ

      # Внутренние порты брокера (избегаем конфликта с первым)
      KAFKA_CFG_LISTENERS: PLAINTEXT://:9093,CONTROLLER://:9094,EXTERNAL://:9095
      KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://kafka-kraft-2:9093,EXTERNAL://localhost:9095
      KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT

    volumes:
      - kafka_kraft_1_data:/bitnami/kafka


  # ======================
  # ZooKeeper
  # ======================
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    container_name: zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - "2181:2181"


  # ======================
  # Kafka with ZooKeeper (broker 1)
  # ======================
  kafka-zk:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka-zk
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

      KAFKA_LISTENERS: INTERNAL://0.0.0.0:9092,EXTERNAL://0.0.0.0:29092
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka-zk:9092,EXTERNAL://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 2


  # ======================
  # Kafka with ZooKeeper (broker 2)
  # ======================
  kafka-zk-2:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka-zk-2
    depends_on:
      - zookeeper
    ports:
      - "9093:9092"
    environment:
      KAFKA_BROKER_ID: 2
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

      KAFKA_LISTENERS: INTERNAL://0.0.0.0:9092,EXTERNAL://0.0.0.0:29093
      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka-zk-2:9092,EXTERNAL://localhost:29093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 2

  # ======================
  # Kafka UI
  # ======================
  kafka-ui:
    image: provectuslabs/kafka-ui:v0.7.0
    container_name: kafka-ui
    ports:
      - "8081:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: kraft
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka-kraft:9092

      KAFKA_CLUSTERS_1_NAME: zookeeper-cluster
      KAFKA_CLUSTERS_1_BOOTSTRAPSERVERS: kafka-zk:9092
    depends_on:
      - kafka-kraft
      - kafka-kraft-2
      - kafka-zk
      - kafka-zk-2


volumes:
  kafka_kraft_0_data:
  kafka_kraft_1_data:
