
version: "3.9" # версия докера 



services: # описываем контейнеры 



  # ======================

  # Kafka KRaft (broker 0)

  # ======================

  kafka-kraft: # имя контейнера

    image: bitnamilegacy/kafka:3.4 # версия кафки

    container_name: kafka-kraft # имя сервиса, по нему контейнер доступен по внутри сети

    ports:

      - "9094:9094" # порты по которым происходит подключение из вне

    environment:

      KAFKA_ENABLE_KRAFT: "yes" # включаем режим крафт без зукипера

      ALLOW_PLAINTEXT_LISTENER: "yes" # небезопасное соединение без tls



      KAFKA_CFG_NODE_ID: 0 # уникальный id брокера

      KAFKA_CFG_PROCESS_ROLES: broker,controller

      KAFKA_CFG_CONTROLLER_LISTENER_NAMES: CONTROLLER # указываем роль как брокера и как контролера, так как без зукипера



      KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: 0@kafka-kraft:9093,1@kafka-kraft-2:9094 # указываем по каким портам можно достучаться контроллеру для голосования

      KAFKA_KRAFT_CLUSTER_ID: q1Sh-9_ISia_zwGINzRvyQ # уникальный id кластера



      KAFKA_CFG_LISTENERS: PLAINTEXT://:9092,CONTROLLER://:9093,EXTERNAL://:9094 # 9092- порт внутри контейнера 9093- порт контроллера 9094 - порт для внешнего контейнера

      KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://kafka-kraft:9092,EXTERNAL://localhost:9094 # для приложений по каким портам слушать кафку

      KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT # протокол безопасности в нашем случае отсутствует



    volumes:

      - kafka_kraft_0_data:/bitnami/kafka # сохраняет данные при перезапуске контейнеров



  # ======================

  # Kafka KRaft (broker 1)

  # ======================

  kafka-kraft-2:

    image: bitnamilegacy/kafka:3.4

    container_name: kafka-kraft-2

    ports:

      - "9095:9095"

    environment:

      KAFKA_ENABLE_KRAFT: "yes"

      ALLOW_PLAINTEXT_LISTENER: "yes"



      KAFKA_CFG_NODE_ID: 1

      KAFKA_CFG_PROCESS_ROLES: broker,controller

      KAFKA_CFG_CONTROLLER_LISTENER_NAMES: CONTROLLER



      KAFKA_CFG_CONTROLLER_QUORUM_VOTERS: 0@kafka-kraft:9093,1@kafka-kraft-2:9094

      KAFKA_KRAFT_CLUSTER_ID: q1Sh-9_ISia_zwGINzRvyQ



      KAFKA_CFG_LISTENERS: PLAINTEXT://:9093,CONTROLLER://:9094,EXTERNAL://:9095

      KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://kafka-kraft-2:9093,EXTERNAL://localhost:9095

      KAFKA_CFG_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT



    volumes:

      - kafka_kraft_1_data:/bitnami/kafka



  # ======================

  # ZooKeeper

  # ======================

  zookeeper: # контейнер для зукипера, для реализации отдельного кластера работающим не на крафт а через зукипер

    image: confluentinc/cp-zookeeper:7.5.0

    container_name: zookeeper

    environment:

      ZOOKEEPER_CLIENT_PORT: 2181 # порт для подключения клиентов

      ZOOKEEPER_TICK_TIME: 2000 # в теч 20 секунд опрашивает брокер, если он недоступен зукипер назначает нового лидера

    ports:

      - "2181:2181"
    
    volumes:

      - zookeeper_data:/bitnami/zookeeper
    

  # ======================

  # Kafka with ZooKeeper (broker 1) # кластер работающий с зукипер

  # ======================

  kafka-zk:

    image: confluentinc/cp-kafka:7.5.0

    container_name: kafka-zk

    depends_on:

      - zookeeper

    ports:

      - "29092:29092"

    environment:

      KAFKA_BROKER_ID: 1

      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181



      KAFKA_LISTENERS: INTERNAL://0.0.0.0:9092,EXTERNAL://0.0.0.0:29092

      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka-zk:9092,EXTERNAL://localhost:29092

      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT

      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 2

    volumes:

      - zookeeper_data:/bitnami/zookeeper

  # ======================

  # Kafka with ZooKeeper (broker 2)

  # ======================

  kafka-zk-2:

    image: confluentinc/cp-kafka:7.5.0

    container_name: kafka-zk-2

    depends_on:

      - zookeeper

    ports:

      - "29093:29093"

    environment:

      KAFKA_BROKER_ID: 2

      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181



      KAFKA_LISTENERS: INTERNAL://0.0.0.0:9093,EXTERNAL://0.0.0.0:29093

      KAFKA_ADVERTISED_LISTENERS: INTERNAL://kafka-zk-2:9093,EXTERNAL://localhost:29093

      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INTERNAL:PLAINTEXT,EXTERNAL:PLAINTEXT

      KAFKA_INTER_BROKER_LISTENER_NAME: INTERNAL

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 2

    volumes:

      - zookeeper_data:/bitnami/zookeeper

  # ======================

  # Kafka UI (Provectus) #ui для кафка

  # ======================

  kafka-ui:

    image: provectuslabs/kafka-ui:latest 

    container_name: kafka-ui

    ports:

      - "8081:8080" # 8081 порт по котрому будем открывать браузер , перенаправляет на 8080 для подключения к докер сети и далее подключается к кафке по их внутренним портам 9092

    environment:

      KAFKA_CLUSTERS_0_NAME: kraft

      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka-kraft:9092



      KAFKA_CLUSTERS_1_NAME: zookeeper-cluster

      KAFKA_CLUSTERS_1_BOOTSTRAPSERVERS: kafka-zk:9092

    depends_on:

      - kafka-kraft

      - kafka-kraft-2

      - kafka-zk

      - kafka-zk-2



  # ======================

  # ✅ KAFDROP 

  # ======================

  kafdrop:

    image: obsidiandynamics/kafdrop:4.0.2

    container_name: kafdrop

    ports:

      - "9000:9000"

    environment:

      KAFKA_BROKERCONNECT: kafka-kraft:9092,kafka-kraft-2:9093,kafka-zk:9092,kafka-zk-2:9093
      

      JVM_OPTS: "-Duser.timezone=Europe/Moscow -Xms256m -Xmx512m"
      KAFDROP_TIMEZONE: "Europe/Moscow"
   

    depends_on:

      - kafka-kraft

      - kafka-kraft-2

      - kafka-zk

      - kafka-zk-2
      
     




volumes: 

  kafka_kraft_0_data:

  kafka_kraft_1_data:

# Данные ZooKeeper (для Kafka, использующей ZooKeeper)
  zookeeper_data:

# Данные брокеров Kafka, подключённых к ZooKeeper (если нужно)
  kafka_zk_1_data:
  kafka_zk_2_data:

